# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

pip3 install tensorflow == 1.13.1
pip3 install opencv-python == 3.4.2
pip3 install numpy == 1.16.2
pip3 install sklearn == 0.20.3
pip3 install pdf2image == 0.1.4
pip3 install PyPDF2 == 1.26.0
pip3 install re == 2.2.1
